
@model Slider;
<form method="post">
    <div class="container col-12 my-5">
        <div class="card" style="width: 18rem;margin-bottom:10px;">
            <div class="card-header">
                <h3 style="font-weight:600">
                    Delete a Slide
                </h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Model.Title</li>
                <li class="list-group-item">@Model.Description</li>
                <li class="list-group-item">@Model.SubTitle</li>
                <li class="list-group-item">@Model.Name</li>
                <li class="list-group-item">@Model.RedirectUrl</li>
                <li class="list-group-item"><img style="width:40%" src="~/assets/bg-slider-images/@Model.ImgUrl" /></li>

            </ul>
        </div>
        <a class="btn btn-success" asp-action="Index" asp-controller="DashBoard">Back To Home</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>