@model Portfolio;
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Portfolio Details</li>
            </ol>
            <h2>Portfolio Details</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            @foreach (var image in Model.Images)
                            {
                                <div class="swiper-slide">
                                    <img src="~/assets/img/portfolio/@image.ImgUrl" alt="">
                                </div>
                            }

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: @Model.Category.Name</li>
                            <li><strong>Client</strong>: @Model.Client</li>
                            <li><strong>Project date</strong>: @Model.ProjectDate.ToString("dd MM yyy")</li>
                            <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is an example of @Model.Title detail</h2>
                        <p>
                            @Model.Description
                        </p>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main>